<div class="chatbox-list">
    <div class="chatbox">
      <div class="chat-mg bx">
        <a href="#" title=""><img src="images/chat.png" alt="" /></a>
        <span>!</span>
      </div>
      <div class="conversation-box" >
          <div class="bo" >
            <div class="con-title">
                <h3>SPREAD LOVE BOT</h3>
                <a href="#" title="" class="close-chat"
                  ><i class="la la-minus-square"></i
                ></a>
              </div>
              
              <div class="card-body msg_card_body " style="height: 400px; overflow-x: hidden;">
                  <div class="d-flex justify-content-start mb-4">
                      <div class="img_cont_msg">
                          <img src="http://via.placeholder.com/50x50" class="rounded-circle user_img_msg">
                      </div>
                      <div class="msg_cotainer">
                        <span class="msg_name"> SPREAD LOVE BOT</span>
                        HELLO
                        <span class="msg_time">11:20 AM</span>
                      </div>
                  </div>
                 
                  
                </div>
              <!--chat-list end--></div>
        
        <form action="" method="POST">
            <div class="in" style="display: flex;">
                <input type="text" name="" id="" style="width: 100%;">
                <button type="submit">gửi</button>
            </div>
        </form>
        
       
        
      </div>
      <!--conversation-box end-->
    
  </div>
</div>
  <style>
      .img_cont_msg{
    height: 40px;
    width: 40px;
      }
    .msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
color: rgb(0, 0, 0);
padding: 10px;
position: relative;
width: 100%;}
.msg_name{
		position: absolute;
		left: 0;
		top: -10px;
		color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    text-transform: uppercase;
	}
.msg_time{
position: absolute;
left: 0;
bottom: -4px;
color: rgba(0, 0, 0, 0.5);
font-size: 10px;
}
.msg_card_body{
    overflow-y: auto;
    display: flex; 
    flex-direction: column-reverse;
}
  </style>
  <!--chatbox-list end-->