<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Foget</title>
    <link href="stylesheets/Dangki.css" rel="stylesheet">
</head>
<body>
    <form action="/foget/store" method="POST">
        <div class="container">
          <h1>Foget</h1>

          <hr>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="remail" id="remail" required>
             <button type="submit" class="registerbtn">Register</button>
        </div>
      
        
      </form>
    
</body>
</html>
