 <!-- Footer -->
 <footer class="page-footer font-small unique-color-dark footerx">

    <div style="background-color: #53D690; color:white">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center"  style="height: 40px; padding: 0px !important;">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Hãy kết nối với chúng tôi trên mạng xã hội!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right ">
  
            <!-- Facebook -->
            <a class="fb-ic white-col">
              <i class="fa fa-facebook-f white-text mr-4"> </i>
              
              
            </a>
            
            <!-- Google +-->
            <a class="gplus-ic white-col">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic white-col">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5" style="margin-top: 0px !important;">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">BREAD LOVE</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Kết nối yêu thương,  
            kết nối những tấm lòng vàng, 
            mạnh Thường Quân khắp nơi, 
            trên mọi miền đất nước Việt Nam.</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">TRỢ GIÚP VÀ HỖ TRỢ</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Giới thiệu</a>
          </p>
          <p>
            <a href="#!">Quyền riêng tư</a>
          </p>
          <p>
            <a href="#!">Điều khoản</a>
          </p>
          <p>
            <a href="#!"></a>
          </p>
          <p>
            <a href="#!">Nhà phát triển</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: #fff;">____</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: white;">
          <p>
            <a href="#!">Cài đặt</a>
          </p>
          <p>
            <a href="#!">Trợ giúp</a>
          </p>
          <p>
            <a href="#!">Ngôn ngữ</a>
          </p>
          <p>
            <a href="#!">Đóng góp ý kiến</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> 254 Nguyễn Văn Linh, Đà Nẵng</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> duytan@dtu.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 84 222 333 444</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 025 678 910 1112</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/popper.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.mCustomScrollbar.js"></script>
  <script type="text/javascript" src="lib/slick/slick.min.js"></script>
  <script type="text/javascript" src="javascripts/scrollbar.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>