
  <%include header%>
<main>
    
</section>
<div class=" container-fluid position-relative  text-center bg-light bg ">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal font-vh " style="font-size: 50px;">Nơi mọi người kết nối cùng chia sẻ yêu thương với nhau</h1>
    
    
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="introduce">
  <section class="jumbotron text-center" style="background-color: white;">
    <div class="container">
      <h1 style="font-size: 4rem;">SPREAD LOVE</h1>
      <p class="lead text-muted" style="font-size: 20px; line-height: 1.25; margin-top: 20px; ">Với tinh thần tương thân tương ái, cảm thông và sẻ chia những khó khăn với cộng đồng, chúng tôi luôn muốn giúp mọi người dễ dàng cùng nhau làm các hoạt động từ thiện, hỗ trợ các trung tâm nuôi dưỡng trẻ em mồ côi khuyết tật, trẻ em đường phố có hoàn cảnh khó khăn cũng như thăm và tặng quà cho người già neo đơn. Đây là những hoạt động đẹp góp phần xây dựng mối quan hệ tốt đẹp với cộng đồng.</p>
      
    </div>
</div>
  <!-- Cards -->
  <div class="container">
  <div class="row mt-20">
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-uppercase"> <b style="font-weight: 800;">Tầm nhìn</b></h4>
          <p class="card-text">Spread love muốn cố gắng giúp đỡ mọi người trong việc giải quyết các vấn đề xã hội, nhằm thực hiện được sứ mệnh “Vì một cuộc sống tốt đẹp hơn cho người Việt”.</p>
          
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-uppercase"><b style="font-weight: 800;">Sứ mệnh</b></h4>
          <p class="card-text">“Vì một cuộc sống tốt đẹp hơn cho người Việt” - Thông qua các hoạt động thiện nguyện của mọi người: Văn hóa, tinh thần, sứ mệnh và những tấm lòng vàng đã được phát huy và lan tỏa, truyền cảm hứng mạnh mẽ tới toàn xã hội. </p>
          
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-uppercase"><b style="font-weight: 800;"></b>Giá trị cốt lõi</h4>
          <p class="card-text">Nhân văn - Tận tâm - Cam kết - Trách nhiệm - Hiệu quả - Chuyên nghiệp.</p>
          <p class="card-text">Cùng nhau giải quyết những vấn đề xã hội, từ đó lan tỏa truyền cảm hứng để kết nối và cộng hưởng các nguồn lực trong xã hội cùng tin tưởng và tham gia đồng hành.
            .</p> 
          
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>
</main>

  
  
<%include footer.ejs %>