<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SPREAD LOVE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/line-awesome.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/css/line-awesome-font-awesome.min.css"
    />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/css/jquery.mCustomScrollbar.min.css"
    />
    <link rel="stylesheet" type="text/css" href="lib/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" />
    
  </head>

  
  <body>
    <!--Modal form login-->
  <div id="exampleModal" class="modal fade" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" action="/login" method="POST">
      
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title h5modal" id="exampleModalLabel">Đăng nhập</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="sign_in_sec current" id="tab-1">
            <form  action="/login" method="POST">
              <div class="row">
                <div class="col-lg-12 no-pdd">
                  <div class="sn-field">
                    <input type="text" name="uname" placeholder="Tên đăng nhập">
                    <i class="la la-user"></i>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd">
                  <div class="sn-field">
                    <input type="password" name="psw" placeholder="Mật khẩu">
                    <i class="la la-lock"></i>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd">
                  <div class="checky-sec">
                    <div class="fgt-sec">
                     
                      <a  href="foget" title="">Quên mật khẩu?</a>
                    </div><!--fgt-sec end-->
                    <a  href="register" title="">Chưa có tài khoản?</a>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd ">
                  <button class="btnlog" type="submit" id="sendUser" value="submit">Đăng nhập</button>
                </div>
              </div>
            
              
            <div class="login-resources">
            
              
            </div><!--login-resources end-->
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
    <div class="wrapper2 ">
      <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="home">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex justify-content-center h-100 navbar-nav mr-auto mar-search">
            <div class="searchbar">
            <form action="/search/store" method="GET">
              <input class="search_input" type="text" name="search" id="search" placeholder="Tìm kiếm ...">
              <button type="submit" class="search_icon registerbtn"><i class="la la-search"></i></button>
            </form>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="home">Trang chủ <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="List_event">Chương trình từ thiện</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="news">Tin tức</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Top-donate">Tấm lòng vàng</a>
              </li>
            
            </ul>
            <form class="form-inline my-2 my-lg-0">

              <% if(loggedIn) { %>
                  <a href="">HELLO</a>
              <% } else{ %>
                <a type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >Đăng nhập / Đăng ký</a>
              <% } %>
            </form>
           
          </div>
        </nav>
      </header>
      <!--header end-->
    </div>
  
<main>
    
</section>
<div class=" container-fluid position-relative  text-center bg-light bg ">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal font-vh " style="font-size: 50px;">Nơi mọi người kết nối cùng chia sẻ yêu thương với nhau</h1>
    
    <button class="btn btndl" href="#"><i class="fa fa-android mr-2"></i> Tải về miễn phí</button>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="introduce">
  <section class="jumbotron text-center" style="background-color: white;">
    <div class="container">
      <h1 style="font-size: 4rem;">SPREAD LOVE</h1>
      <p class="lead text-muted" style="font-size: 20px; line-height: 1.25; margin-top: 20px; ">Với tinh thần tương thân tương ái, cảm thông và sẻ chia những khó khăn với cộng đồng, chúng tôi luôn muốn giúp mọi người dễ dàng cùng nhau làm các hoạt động từ thiện, hỗ trợ các trung tâm nuôi dưỡng trẻ em mồ côi khuyết tật, trẻ em đường phố có hoàn cảnh khó khăn cũng như thăm và tặng quà cho người già neo đơn. Đây là những hoạt động đẹp góp phần xây dựng mối quan hệ tốt đẹp với cộng đồng.</p>
      
    </div>
</div>
  <!-- Cards -->
  <div class="container">
  <div class="row mt-20">
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-uppercase"> <b style="font-weight: 800;">Tầm nhìn</b></h4>
          <p class="card-text">Spread love muốn cố gắng giúp đỡ mọi người trong việc giải quyết các vấn đề xã hội, nhằm thực hiện được sứ mệnh “Vì một cuộc sống tốt đẹp hơn cho người Việt”.</p>
          
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-uppercase"><b style="font-weight: 800;">Sứ mệnh</b></h4>
          <p class="card-text">“Vì một cuộc sống tốt đẹp hơn cho người Việt” - Thông qua các hoạt động thiện nguyện của mọi người: Văn hóa, tinh thần, sứ mệnh và những tấm lòng vàng đã được phát huy và lan tỏa, truyền cảm hứng mạnh mẽ tới toàn xã hội. </p>
          
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="images/1.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-uppercase"><b style="font-weight: 800;"></b>Giá trị cốt lõi</h4>
          <p class="card-text">Nhân văn - Tận tâm - Cam kết - Trách nhiệm - Hiệu quả - Chuyên nghiệp.</p>
          <p class="card-text">Cùng nhau giải quyết những vấn đề xã hội, từ đó lan tỏa truyền cảm hứng để kết nối và cộng hưởng các nguồn lực trong xã hội cùng tin tưởng và tham gia đồng hành.
            .</p> 
          
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>
</main>


  <!--Modal form login-->
  <div id="exampleModal" class="modal fade" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" action="/login" method="POST">
      
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title h5modal" id="exampleModalLabel">Đăng nhập</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="sign_in_sec current" id="tab-1">
            <form  action="/login" method="POST">
              <div class="row">
                <div class="col-lg-12 no-pdd">
                  <div class="sn-field">
                    <input type="text" name="uname" placeholder="Tên đăng nhập">
                    <i class="la la-user"></i>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd">
                  <div class="sn-field">
                    <input type="password" name="psw" placeholder="Mật khẩu">
                    <i class="la la-lock"></i>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd">
                  <div class="checky-sec">
                    <div class="fgt-sec">
                     
                      <a  href="foget" title="">Quên mật khẩu?</a>
                    </div><!--fgt-sec end-->
                    <a  href="register" title="">Chưa có tài khoản?</a>
                  </div>
                </div>
                <div class="col-lg-12 no-pdd ">
                  <button class="btnlog" type="submit" id="sendUser" value="submit">Đăng nhập</button>
                </div>
              </div>
            
              
            <div class="login-resources">
            
              
            </div><!--login-resources end-->
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
  

  
  



  

  
  
<%include footer.ejs %>