<%include header%>
<main>
    <section class="forum-sec">
        <div class="px"></div>
          
          </section>
  
          <section class="forum-page">
              <div class="container">
                  <div class="forum-questions-sec">
            
                      <div class="row">
                          <div class="col-lg-8">
                              <div class="forum-post-view">
                                  <div class="usr-question">
                                      <div class="usr_img">
                                          <img src="<%=event.imageUser%>" width="60px" height="60px" alt="">
                                      </div>
                                      <div class="usr_quest">
                                          <h3><%=event.purpose%></h3>
                                          <span><i class="fa fa-clock-o"></i>Thời gian</span>
                                          <p><i class=""></i>Địa điểm</p>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at libero elit. Mauris ultrices sed lorem nec efficitur. Donec sit amet facilisis lorem, quis facilisis tellus. Nullam mollis dignissim nisi sit amet tempor. Nullam sollicitudin neque a felis commodo gravida at sed nunc. In justo nunc, sagittis sed venenatis at, dictum vel erat. Curabitur at quam ipsum. Quisque eget nibh aliquet, imperdiet diam pharetra, dapibus lacus. Sed tincidunt sapien in dui imperdiet eleifend. Ut ut sagittis purus, non tristique elit. Quisque tincidunt metus eget ligula sodales luctus. Donec convallis ex at dui convallis malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut pretium euismod mollis. Pellentesque convallis gravida ante eu pretium. Integer rutrum mi nec purus tincidunt, nec rhoncus mauris porttitor. Donec id tellus at leo gravida egestas. Suspendisse consequat mi vel euismod efficitur. Donec sed elementum libero.</p>
                                          <p> Etiam rutrum ut urna eu tempus. Curabitur suscipit quis lorem vel dictum. Aliquam erat volutpat. Pellentesque volutpat viverra pulvinar. Mauris ac sapien ac metus tincidunt volutpat eu eu purus. Suspendisse pharetra quis quam id auctor. Pellentesque feugiat venenatis urna, vitae suscipit enim volutpat vitae. Nunc egestas tortor est, at sodales ligula auctor efficitur.</p>
                                          <div class="comment-section">
                                              <div class="widget widget-feat">
                                                  <ul>
                                                      <li>
                                                          <i class="fa fa-heart"></i>
                                                          <span>1185</span>
                                                      </li>
                                                      <li>
                                                          <i class="fa fa-comment"></i>
                                                          <span>1165</span>
                                                      </li>
                                                      <li>
                                                          <i class="fa fa-share-alt"></i>
                                                          <span>1120</span>
                                                      </li>
                                                      <li>
                                                          <i class="fa fa-eye"></i>
                                                          <span>1009</span>
                                                      </li>
                                                  </ul>
                                              </div><!--widget-feat end-->
                                              <h3>Bình luận</h3>
                                              <div class="comment-sec">
                                                  <ul>
                                                      <li>
                                                          <div class="comment-list">
                                                              <div class="bg-img">
                                                                  <img src="http://via.placeholder.com/40x40" alt="">
                                                              </div>
                                                              <div class="comment">
                                                                  <h3>Tên</h3>
                                                                  <span><img src="images/clock.png" alt=""> 3 phút trước</span>
                                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at libero elit. Mauris ultrices sed lorem nec efficitur.</p>
                                                              </div>
                                                          </div><!--comment-list end-->
                                                      </li>
                                                      <li>
                                                          <div class="comment-list">
                                                              <div class="bg-img">
                                                                  <img src="http://via.placeholder.com/40x40" alt="">
                                                              </div>
                                                              <div class="comment">
                                                                  <h3>Tên</h3>
                                                                  <span><img src="images/clock.png" alt=""> 3 phút trước</span>
                                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at.</p>
                                                              </div>
                                                          </div><!--comment-list end-->
                                                      </li>
                                                      <li>
                                                          <div class="comment-list">
                                                              <div class="bg-img">
                                                                  <img src="http://via.placeholder.com/40x40" alt="">
                                                              </div>
                                                              <div class="comment">
                                                                  <h3>Tên</h3>
                                                                  <span><img src="images/clock.png" alt=""> 3 phút trước</span>
                                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at.</p>
                                                              </div>
                                                          </div><!--comment-list end-->
                                                      </li>
                                                  </ul>
                                              </div><!--comment-sec end-->
                                          </div>
                                      </div><!--usr_quest end-->
                                  </div><!--usr-question end-->
                              </div><!--forum-post-view end-->
                              
                              <div class="post-comment-box">
                                  <h3>Viết bình luận</h3>
                                  <div class="user-poster">
                                      <div class="usr-post-img">
                                          <img src="http://via.placeholder.com/40x40" alt="">
                                      </div>
                                      <div class="post_comment_sec">
                                          <form>
                                              <textarea placeholder="Bình luận của bạn"></textarea>
                                              <button type="submit">Đăng bình luận</button>
                                          </form>
                                      </div><!--post_comment_sec end-->
                                  </div><!--user-poster end-->
                              </div><!--post-comment-box end-->
                              
                          </div>
                          
                          <div class="col-lg-4">
                              <div class="widget widget-user">
                                  <h3 class="title-wd">Người tổ chức: <a href="">TÊN</a></h3>	
                              </div>
                              <div class="widget widget-user">
                                  <h3 class="title-wd">Số người tham gia: 49/50</h3>
                                      
                              </div>
                              
                              
                              <div class="widget widget-user">
                                  <h3 class="title-wd">Người ủng hộ</h3>
                                  <ul>
                                      <li>
                                          <div class="usr-msg-details">
                                              <div class="usr_img">
                                                  <img src="http://via.placeholder.com/50x50" alt="">
                                              </div>
                                              <div class="usr-mg-info">
                                                  <h3>Tênnn</h3>
                                              </div><!--usr-mg-info end-->
                                          </div>
                                          <span>xxx $</span>
                                      </li>
                                      
                                  </ul>
                              </div><!--widget-user end-->
                              <div class="widget widget-adver">
                  <h3 class="title-wd">Hình ảnh</h3>
                  <div class="container images-mar">
                    <div class="row text-center text-lg-left">
                  
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
                            </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-6 colmargin">
                        <a href="#" class="d-block mb-4 h-100">
                              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
                            </a>
                      </div>
                    </div>
                  
                  </div>
                  <!-- /.container -->
                              </div><!--widget-adver end-->
                          </div>
                      </div>
                  </div><!--forum-questions-sec end-->
              </div>
          </section><!--forum-page end-->
</main>
<%include footer%>