<%include header%>
<main>
    <header class="masthead" style="background-image: url('image/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>Tiêu đề</h1>
                <h2 class="subheading">Mô tả ngắn</h2>
                <span class="meta">Đăng bởi
                  <a href="#">Tên người đăng</a>
                  tại "Thời điểm đăng"</span>
              </div>
            </div>
          </div>
        </div>
      </header>

  <!-- Main Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Nội dung</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa sed eveniet ex tenetur aspernatur reprehenderit illo est minus delectus temporibus, perferendis rerum rem. Labore eos blanditiis quam explicabo quae.
        </div>
      </div>
    </div>
  </article>

</main>
<style>
    h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, 'Times New Roman', serif;
    font-weight: 900;
   
}
h2 {
    color: #212529;
    transition: all .2s
}

h2:focus,
h2:hover {
    color: #02f573
}

.btn-primary {
  font-family: Lora, 'Times New Roman', serif;
    background-color: #53D690;
    border-color: #53D690;
    color: white;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  font-family: Lora, 'Times New Roman', serif;
    color: #fff;
    background-color: #00ff77 !important;
    border-color:  #00ff77 !important
}


</style>
<%include footer%>