<%include header_css%>
<main>
    <header class="masthead" style="background-image: url('image/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>Tiêu đề</h1>
                <h2 class="subheading">Mô tả ngắn</h2>
                <span class="meta">Đăng bởi
                  <a href="#">Tên người đăng</a>
                  tại "Thời điểm đăng"</span>
              </div>
            </div>
          </div>
        </div>
      </header>

  <!-- Main Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Nội dung</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa sed eveniet ex tenetur aspernatur reprehenderit illo est minus delectus temporibus, perferendis rerum rem. Labore eos blanditiis quam explicabo quae.
        </div>
      </div>
    </div>
  </article>

</main>
<%include footer_css%>