<%include header%>
      
      <main>
        <div class="px"></div>
        <div class="container images-mar">
          
          <div class="row text-center text-lg-left">
        
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                      <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 colmargin">
              <div class="main-ws-sec widget">
                <div class="posts-section">
                  <div class="post-bar">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img
                          src="http://via.placeholder.com/50x50"
                          alt=""
                        />
                        <div class="usy-name">
                          <h3>Tên</h3>
                          <span
                            ><img src="images/clock.png" alt="" />Thời gian đăng</span
                          >
                        </div>
                      </div>
                      <div class="ed-opts">
                        <a href="#" title="" class="ed-opts-open"
                          ><i class="la la-ellipsis-v"></i
                        ></a>
                        <ul class="ed-options">
                          <li><a href="#" title="">Lưu trữ</a></li>
                          <li><a href="#" title="">Ẩn sự kiện</a></li>
                         
                        </ul>
                      </div>
                    </div>
                    <div class="epi-sec">
                      <ul class="descp">
    
                        <li>
                          <img src="images/icon9.png" alt="" /><span
                            >Địa chỉ</span
                          >
                        </li>
                      </ul>
                      
                    </div>
                    <div class="event_descp">
                      <h3>Tên sự kiện</h3>
                      <ul class="event-dt">
                        <li><a href="#" title="">Thời gian bắt đầu</a></li>
                        <li><a href="#" title="">Số người tham gia/ chỉ tiêu</a></li>
                        
                      </ul>
                      <p>
                        Nội dung
                        <a href="#" title="">view more</a>
                      </p>
                
                    </div>
                    <div class="event-status-bar">
                       <a href="info_event.html"> XEM CHI TIẾT</a>
                     
                    </div>
                  </div>
                  <!--post-bar end-->
                  
                  
                  
                  
                </div>
                <!--posts-section end-->
              </div>
            </div>
          </div>
        
        </div>
      </main>
     

      <%include footer %>