<%include header %>

<main>
   <div class="container">
      <div class="content pb-0">
         <div class="orders">
            <div class="row">
               <div class="col-xl-12">
                  <div class="card">
                     <div class="card-body">
                        <h4 class="box-title">Sự kiện</h4>
                        <div class="table-stats order-table ov-h">
                           <table class="table ">
                              <thead>
                                 <tr>
                                 <th style="text-align: center">ID</th>
                                 <th style="text-align: center">Id_người tạo</th>
                                 <th style="text-align: center">Tên sự kiện</th>
                                 <th style="text-align: center">Ngày tạo</th>
                                 <th style="text-align: center">Trạng thái</th>
                                 <th style="text-align: center" > Chức năng</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 
                                 <tr>
                                     <td style="text-align: center"> hiển thị id</td>
                                     <td style="text-align: center">hiển thị id ng tạo</td>
                                     <td style="text-align: center">hiển thị mục đích event</td>
                                     <td style="text-align: center">hiển thị thời gian post</td>
                                     <td style="text-align: center">hiển thị trang thái khóa hay chưa khóa</td>        
                                    <td>
                                        
                       <div class="btn_action" style="display: flex; padding-left: 30%;">
                         <button type="button" id="" name="" class='btn btn-success'>Mở khóa </button>
                                     <button type="button" id="" name="" class='btn btn-dark'>Khóa</button>
                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
     </div>

   </div>
    
</main>

</body>

</html>