<%include header%>
<main>
    <div class="container">
        
        <div class="map">
            <div class="title-map">
                <h2>Sự kiện gần bạn</h2>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.978686097733!2d108.21187044950165!3d16.06659578882793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142184a810229eb%3A0x155a6ca1b747012!2zQmlnIEMgxJDDoCBO4bq1bmc!5e0!3m2!1svi!2s!4v1606637927868!5m2!1svi!2s" width=100% height=100% frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    
</main>
<%include footer%>