<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Search Post</title>
    <link href="stylesheets/Dangki.css" rel="stylesheet">
</head>
<body>
    <form action="/search/store" method="GET">
        <div class="container">
          <h1>Search Post</h1>
          <hr>
          <label for="text"><b>Search</b></label>
          <input type="text" placeholder="Enter text" name="search" id="search" required>
             <button type="submit" class="registerbtn">Search</button>
        </div>
      
        
      </form>
    
</body>
</html>
