<%include header%>
    
    <main>
      <div class="px"></div>
        <div class="container  mt-5">
            <div class="main">
              <h1 class="gold">TẤM LÒNG VÀNG</h1>
              <hr class="hr_gold">
              <div class="row">
                <% topdonates.forEach(function(topdonate){ %>
                <div class="col-md-4">
                  <a href="#">
                    <div class="one">
                      <div class="text-right pr-2 pt-1">
                        <i class="mdi mdi-dots-vertical dotdot"></i>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="<%= topdonate.url_author %>"
                          width="50"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="text-center"><span class="name"><%= topdonate.author_name %></span></div>
                      <div class="text-center">
                        <span class="total d-block pt-2">Tổng số tiền ủng hộ</span>
                        <span class="money vnd"><%= topdonate.total %></span>
                      </div>
                      <div
                        class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                      >
                        <span class="details">Xem thông tin</span
                        ><i class="mdi mdi-arrow-right right pl-1"></i>
                      </div>
                    </div>
                  </a>
                </div>
                
                <% }) %>

               
              </div>
            </div>
          </div>
    </main>
    <link rel="stylesheet" type="text/css" href="stylesheets/css/topdoante.css" />
    <script> 
      // formart vnd
      let x = document.querySelectorAll(".vnd"); 
      for (let i = 0, len = x.length; i < len; i++) { 
        let num = Number(x[i].innerHTML) 
            .toLocaleString('en'); 
        x[i].innerHTML = num; 
        x[i].classList.add("currSign"); 
      } 
      //only number
      (function($) {
        $.fn.inputFilter = function(inputFilter) {
          return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
            if (inputFilter(this.value)) {
              this.oldValue = this.value;
              this.oldSelectionStart = this.selectionStart;
              this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
              this.value = this.oldValue;
              this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            } else {
              this.value = "";
            }
          });
        };
      }(jQuery));
      $("#money").inputFilter(function(value) {
        return /^\d*$/.test(value); });

    </script> 

<%include footer%>