

.one {
    margin: 30px;
    height: 200px;
    padding-top:30px ;
    background-color: #53D690;
    border-radius: 5px

}

.dotdot {
    font-size: 13px !important;
    font-weight: lighter !important;
    color: #76787b
}

.name {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
    padding: 30px;
}



.total {
    font-size: 0.7rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5px;
}

.money {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ddff03
}

.details {
    font-size: 1rem;
    font-weight: 500;
    color: #ff7301
}

.right {
    font-size: 12px;
    color: #0606b5
}
.d-flex{
    margin-bottom: 10px;
}