
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/* ========== login_register ========== */
body{
	user-select: none;
	background-color: white;
}
a:focus, a:active { outline: none }


.white-col{
	color: white;
}
.fixed-top{
	
	position: fixed;
	margin-bottom: 50px;
}
.wrapper{
	height: 4.5rem;
}
.btndl{
	margin: 20px;
	border: 2px solid black;
	color: black;
	width: 150px;
	height: 50px;
	
}

.card-text{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	float: left;
	width: 100%;
	
}
.btndl:hover{

	border: 1.5 px solid #666666;
	background-color: #93a39a;
	color: white;

}
.bg{
	position: relative;
	top:-60px;
	background-image: url("../images/bg.jpg");
	width: 100%;
	height: 900px;
}
.font-bg{
	padding: 100px 0 0 100px;
}
.font-bg p{
	color: #92926c;
}
.font-vh{
	font-family: 'Dancing Script', cursive;
	font-size: 42px;
	margin-top: 150px;
	
}
.px{
	height: 70px;
}
@keyframes inout{
	
}
.font-vh2{
	font-family: 'Dancing Script', cursive;
	font-size: 42px;
}
.mt-20 {
	margin-top: 20px;
}
.login_register {
	float: right;
	margin-top: 8px;
	padding-left: 30px;
}
.login_register ul li {
	display: inline-block;
	margin-right: 8px;
}
.login_register ul li:last-child {
	margin-right: 0;
}
.login_register ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	border: 1px solid #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-weight: 600;
}
.fullbutton{
	width: 100%;
}

/*Login*/
.btn-danger{
	background-color: #53D690;
	background-image: none;
    border-color:  #53D690;
}
.user-info .btn-danger:active{
	background-color:#53D690;
	background-image: none;
    border-color: #53D690;
}
.user-info .btn{
	border: none;
}
.btn-lg{
	width: 100%;
}
.h5modal{
	color: #53D690;
	font-size: 18px;
	font-weight: 600;
	position: relative;
}
.btnlog{
	width: 100%;
}
.company-title{
	width: 1000px;
	display: flex;
}
.search-event{
	position: relative;
 right:0;
	width: 15rem;
}

/*NAV BAR*/
.navbar{
	width: 100%;
	
}
.bg-light{
	background-color: #53D690 !important;
}
.navbar-light .navbar-brand { color: #fff; margin: 0 55px 0 50px; }
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link 
{ color: rgba(255, 255, 255); 
}
.login-link{
	color: #fff;
}
.login-link:hover{
	color: rgb(0,0,0);
}
.navbar-light .navbar-nav .nav-link {
	font-size: 100%;
    color: rgba(255, 255, 255);
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0px;
    }

    .search_input{
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background: none;
    width:16rem;
    caret-color:rgb(0, 0, 0);
	line-height: 40px;
	padding: 0 10px;
    
    }
    .searchbar:hover > .search_icon{
    background: #53D690;
	color: #fff;
	
    }

    .search_icon{
	background: #53D690;	
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#fff;
	text-decoration:none;
	position: relative;
	top:-100%;
    }
nav {
	float: left;
	width: 60%;
	text-align: right;
	padding-right: 13px;
}
nav ul li {
	display: inline-block;
	text-align: center;
	padding: 13px 13px;
	position: relative;
}
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background-color: #53D690;
	text-align: left;
	padding: 20px 0 10px 0; 
	opacity: 0;
	visibility: hidden;
	z-index: 99;
}
nav ul ul li {
	padding: 0;
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 15px;
	padding: 0 20px;
}
nav ul ul li a:hover {
	color: #fff;
}
nav ul ul li a {
	font-size: 16px;
}

nav ul li span {
	display: block;
	height: 14px;
}
nav ul li span img {
	float: none;
}
nav ul li a {
	color: #ffffff;
	font-size: 14px;
}
nav > ul > li > a:hover {
	color: #fff;
}

.user-account {
	float: right;
	width: 110px;
	
	box-sizing: border-box;
	position: relative;
}
.user-info {
	float: left;
	width: 100%;
	padding: 13px 10px;
	position: relative;
}
.user-account-settingss {
	position: absolute;
	top: 100%;
	right: 0;
	width: 240px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
	opacity: 0;
	visibility: hidden;
}
.user-account-settingss.active {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.user-account-settingss > h3 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 20px;
}
.dndk p a{
	color: #fff;
}
.dndk p a:hover{
	color: black;
	cursor: pointer;
}
.dropdown-item{
	color: white;
	padding: 15px;
}
.show{
	background-color: #53D690;
}
.btnout{
	border:none;
}
/* ============ us-links ============= */

.us-links {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px;
}
.us-links li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.us-links li:last-child {
	margin-bottom: 0;
}
.us-links li a {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 14px;
	font-weight: 600;
}
.tc {
	text-align: center;
}
.tc a {
	color: #000;
}
.user-info img {
	margin-right: 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.user-info a {
	color: #fff;
	font-size: 14px;
	float: left;
	margin-top: 8px;
}
.user-info a:hover {
	color: #fff;
}
.user-info > i {
	position: absolute;
	top: 51%;
	right: 10px;
	color: #fff;
	font-size: 12px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* ============== tags-sec ============= */

.tags-sec {
	background-color: #fff;
	padding: 25px 5px;
}
.tags-sec ul {
	float: left;
	width: 100%;
	text-align: center;
}
.tags-sec ul li {
	display: inline-block;
	border-right: 1px solid #b2b2b2;
	padding: 0 7px;
	margin-bottom: 15px;
}
.tags-sec ul li:nth-child(3),
.tags-sec ul li:nth-child(5),
.tags-sec ul li:nth-child(8) {
	border-right: 0;
}
.tags-sec ul li a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 13px;
	font-weight: 500;
}
.tags-sec ul li a:hover {
	color: #e44d3a;
}
.cp-sec {
	float: left;
	width: 100%;
	margin-top: 5px;
	padding: 0 13px;
}
.cp-sec > img {
	float: left;
	margin-top: 3px;
}
.cp-sec p {
	float: right;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 500;
}
.cp-sec p img {
	float: none;
	display: inline-block;
	position: relative;
	top: 3px;
	padding-right: 5px;
}
/* ================= sign-in ================ */

.sign-in {
	background-color: #53D690;
}
.sign-in-page {
	float: left;
	width: 100%;
	padding: 100px 0 20px 0;
}
.signin-popup {
	width: 870px;
	margin: 0 auto;
	position: relative;
}
.signin-popup:before {
	content: '';
	position: absolute;
	top: -16px;
	left: 56px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.signin-popup:after {
	content: '';
	position: absolute;
	top: -37px;
	left: 43px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.signin-pop {
	float: left;
	width: 100%;
	background-color: #fff;
	position: relative;
}
.signin-pop:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 100%;
	width: 1px;
	background-color: #f0f0f0;
}

.dff-tab {
	display: none;
}
.dff-tab.current {
	display: block;
}

.cmp-info {
	float: left;
	width: 100%;
	padding: 70px 5px 92px 5px;
}
.cm-logo {
	float: left;
	width: 100%;
	padding-left: 45px;
	margin-bottom: 120px;
}
.cm-logo img {
	margin-bottom: 30px;
}
.cm-logo > p {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	float: left;
	width: 100%;
}
.cmp-info > img {
	width: 100%;
	padding-left: 10px;
}

/* =============== login-sec ============= */

.login-sec {
	float: left;
	width: 100%;
	padding: 30px 0;
	position: relative;
}
.login-sec:before {
	content: '';
	position: absolute;
	bottom: -15px;
	right: 70px;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	background-color: #fff;
}
.login-sec:after {
	content: '';
	position: absolute;
	bottom: -40px;
	right: 55px;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	background-color: #fff;
}
.sign-control {
	float: left;
	width: 100%;
	text-align: right;
	padding-right: 50px;
	margin-bottom: 70px;
}
.sign-control li {
	display: inline-block;
	margin-right: -5px;
}
.sign-control li a {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	background-color: #e5e5e5;
	padding: 7px 10px;
	display: inline-block;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.sign-control li:last-child a {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.sign-control li.current a {
	background-color: #53D690;
	color: #fff;
}
.sign_in_sec {
	float: left;
	width: 100%;
	padding-right: 75px;
	padding-left: 60px;
	display: none;
}
.sign_in_sec.current {
	display: block;
}
.sign_in_sec h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.sign_in_sec h3:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: #53D690;
}


/* ============= sign_in_sec ============= */

.sign_in_sec form {
	float: left;
	width: 100%;
}
.sn-field {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
.sn-field.pd-more {
	margin-bottom: 0;
}
.sn-field.pd-more input {
	padding-left: 40px;
}
.sn-field > i {
	position: absolute;
	top: 50%;
	left: 15px;
	color: #b2b2b2;
	font-size: 16px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sn-field > span {
	position: absolute;
	top: 50%;
	right: 15px;
	font-weight: 700;
	color: #000;
	font-size: 22px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sign_in_sec form input {
	height: 40px;
}
.sign_in_sec form input,
.sign_in_sec form select {
	width: 100%;
	padding: 0 15px 0 40px;
	color: #b2b2b2;
	font-size: 14px;
	border:1px solid #e5e5e5;
}
.sign_in_sec form select {
	line-height: 40px;
	height: 40px;
}
.sign_in_sec form button {
	color: #ffffff;
	font-size: 16px;
	background-color: #53D690;
	padding: 12px 27px;
	border:0;
	font-weight: 500;
	margin-top: 30px;
	cursor: pointer;
}
.checky-sec {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.checky-sec.st2 small {
	font-size: 13px;
	width: 90%;
	line-height: 20px;
}
.checky-sec.st2 .fgt-sec input[type="checkbox"] + label span {
	margin-top: 3px;
}
.fgt-sec {
	float: left;
}
.fgt-sec input[type="checkbox"] {
	display: none;
} 
.fgt-sec label {
	float: left;
}
.fgt-sec input[type="checkbox"] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	border:1px solid #e7e7e7;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.fgt-sec input[type="checkbox"] + label span:before {
	content: '';
	width: 7px;
	height: 7px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	font-size: 8px;
	color: #ffffff;
	opacity: 0;
	visibility: hidden;
	background-color: #53D690;
	position: absolute;
	font-family: fontawesome;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.fgt-sec input[type="checkbox"]:checked + label span:before {
	opacity: 1;
	visibility: visible;
}
.fgt-sec small {
	float: left;
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	margin-left: 10px;
	font-weight: 700;
}
.checky-sec > a {
	float: right;
	color: #000000;
	font-size: 14px;
	font-weight: 600;
}

/* ======= Radio Button Styles ======= */

.fgt-sec input[type="radio"] {
	display: none;
} 
.fgt-sec label {
	float: left;
}
.fgt-sec input[type="radio"] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	border:1px solid #e7e7e7;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.fgt-sec input[type="radio"] + label span:before {
	content: '';
	width: 7px;
	height: 7px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	font-size: 8px;
	color: #ffffff;
	opacity: 0;
	visibility: hidden;
	background-color: #53D690;
	position: absolute;
	font-family: fontawesome;
	top: 49%;
	left: 49%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.fgt-sec input[type="radio"]:checked + label span:before {
	opacity: 1;
	visibility: visible;
}

/* =============== signup-tab ============== */

.signup-tab {
	float: left;
	width: 100%;
	border: 1px solid #e5e5e5;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 20px;
	position: relative;
	margin-top: -30px;
}
.signup-tab > i {
	position: absolute;
	top: 15px;
	left: 13px;
	color: #000;
	font-size: 14px;
}
.signup-tab h2 {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px;
}
.signup-tab ul {
	float: left;
	width: 100%;
}
.signup-tab ul li {
	display: inline-block;
	margin-right: -4px;	
}
.signup-tab ul li a {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	background-color: #e5e5e5;
	padding: 10px 15px;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-ms-border-radius: 3px 0px 0px 3px;
	-o-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	display: inline-block;
}
.signup-tab ul li.current a {
	background-color: #53D690;
	color: #fff;
}
.signup-tab ul li:last-child a {
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-ms-border-radius: 0px 3px 3px 0px;
	-o-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}

/* ============ login-resources ============= */

.login-resources {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 27px;
}
.login-resources h4 {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 30px;
}

.login-resources ul {
	float: left;
	width: 100%;
}

.login-resources ul li {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.login-resources ul li a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 100%;
	padding: 9px 0;
}
.login-resources ul li a i {
	margin-right: 15px;
}
.fb {
	background-color: #3b5998;
}
.tw {
	background-color: #4099ff;
}
.tw .fa-twitter {
	color: #fff;
}



/* =================== main-section ================= */


main {
	float: left;
	width: 100%;
	padding: 60px 0;
	background-color: white;
}
.main-section {
	float: left;
	width: 100%;
}
.introduce{
	margin: 0;
}



html,
body,
.view {
	height:100%;
}

.navbar-brand {
	color:#fff !important;
}

.profile-photo {
	width:48px;
	height:auto;
}

.flex-menu {
	display:flex;
}

.flex-menu li:not(:last-child) {
	margin-right:40px;
}

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */


*,
*::before,
*::after {
    box-sizing: border-box;
}



img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    
    color: inherit;
    padding: 0;
	cursor: pointer;
	border:none !important; 
    outline:none !important;
}

.btn:focus {
	border:none !important; 
    outline:none !important;
}
.btn:active{
	border:none !important; 
    outline:none !important;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}



/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}



@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

/* Tab Links */
.tabs{
	display:flex;
  }
  .tablinks {
	border: none;
	outline: none;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
	font-size: 13px;
	text-transform: uppercase;
	font-weight:600;
	transition: 0.2s ease;
  }
  .tablinks:hover{
	background: #53D690;
	color:#fff;
  }
  /* Tab active */
  .tablinks.active {
	 background:#53D690;
	color:#fff;
  }
  
  /* tab content */
  .tabcontent {
	display: none;
  }
  /* Text*/
  .tabcontent p {
	color: #333;
	font-size: 16px;
  }
  /* tab content active */
  .tabcontent.active {
	display: block;
  }


.colmargin{
	margin-top: 30px;
}
.Modal-form-edit{
	position: absolute;
	left: -80%;
	height: 100%;
	width: 300%;
	background-color: #fff;
}
.tile{
	width: 100%;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 10px 5px;

}

.header{
	border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}

.banner-img {
	padding: 5px 5px 0;
}

.banner-img img {
	width: 100%;
	border-radius: 5px;
}

.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.dates strong,
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center
}

.stats div:nth-of-type(3){border:none;}

div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary{
	background-color: #5AADF2;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover{
	background-color: #7dbef5;
}

div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}
.mainlist{
    height: 100%;
}

main {
	float: left;
	width: 100%;
	padding: 60px 0;
}
.main-section {
	float: left;
	width: 100%;
}
.main-section-data {
	float: left;
	width: 100%;
}
.main-left-sidebar {
	float: left;
	width: 100%;
	margin-top: -20px;
}
.full-width {
	float: left;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.username-dt {
	float: left;
	width: 100%;
	padding-top: 40px;
}
.user-data {
	text-align: center;
}
.usr-pic {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: -48px;
}
.usr-pic > img {
	float: none;
	border: 5px solid #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	width: 100%;
}
.user-profile {
	float: left;
	width: 100%;
}
.user-specs {
	float: left;
	width: 100%;
	padding: 63px 0 27px 0;
}
.user-specs h3 {
	color: #000000;
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 8px;
}
.user-specs span {
	color: #686868;
	font-size: 14px;
}

.widget {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	-ms-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	-o-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
}

.user-fw-status {
	float: left;
	width: 100%;
}
.user-fw-status li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0;
}
.user-fw-status li:last-child {
	border-bottom: 0;
}
.user-fw-status li:nth-child(1),
.user-fw-status li:nth-child(2) {
	border-bottom: 0;
}
.user-fw-status li h4 {
	color: #686868;
	font-size: 20px;
	margin-bottom: 10px;
}
.user-fw-status span {
	color: #000000;
	font-size: 20px;
}
.user-fw-status li a {
	color: #53D690;
	font-size: 14px;
	font-weight: 600;	
}

/* ============= Suggestions ============ */

.sd-title {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.sd-title h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.sd-title i {
	float: right;
	color: #b7b7b7;
	font-size: 30px;
	position: absolute;
	right: 5px;
	top: 15px;
}
.suggestions-list {
	float: left;
	width: 100%;
	padding: 13px 0 30px 0;
}
.suggestion-usd {
	float: left;
	width: 100%;
	padding: 15px 20px;
}
.suggestion-usd img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.sgt-text {
	float: left;
	padding-left: 10px;
}
.sgt-text h4 {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 4px;
}
.sgt-text span {
	color: #686868;
	font-size: 14px;
}
.suggestion-usd > span {
	float: right;
	margin-top: 4px;
	position: relative;
}
.suggestion-usd > span i {
	color: #b2b2b2;
	width: 30px;
	height: 30px;
	border: 1px solid #e5e5e5;
	text-align: center;	
	line-height: 30px;
	font-weight: 700;
	cursor: pointer;
}
.suggestion-usd > span i:hover {
	background-color: #53D690;
	color: #fff;
}
.view-more {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.view-more > a {
	color: #53D690;
	font-size: 14px;
	font-weight: 700;
}
.view-more > a:hover {
	color: #53D690
}

/* =================== main-ws-sec ================== */

.main-ws-sec {
	float: left;
	width: 100%;
}

/* ============ post-topbar =========== */

.post-topbar {
	float: left;
	width: 100%;
	padding: 23px 20px;
	background-color: #fff;
	border-top: 4px solid #53D690;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	-ms-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	-o-box-shadow: 0 0 1px rgba(0,0,0,0.24);
	box-shadow: 0 0 1px rgba(0,0,0,0.24);
	margin-bottom: 20px;
}
.user-picy {
	float: left;
	width: 50px;
}
.user-picy img {
	width: 100%;
	object-fit: cover;
}
.post-st {
	float: right;
	margin-top: 5px;
}
.post-st ul li {
	display: inline-block;
	margin-right: 6px;
}
.post-st ul li:last-child {
	margin-right: 0;
}
.post-st ul li a {
	color: #b2b2b2;
	font-size: 16px;
	display: inline-block;
	background-color: #e5e5e5;
	height: 40px;
	padding: 0 15px;
	line-height: 40px;
	font-weight: 500;
}
.post-st ul li a:hover,
.post-st ul li a.active {
	background-color: #53D690;
	color: #fff;
}


/* ================ posts-section ================== */

.posts-section {
	float: left;
	width: 100%;
}
.post-bar {
	float: left;
	width: 100%;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
}
.post_topbar {
	float: left;
	width: 100%;
	position: relative;
	padding: 20px 20px 15px 20px;
}
.usy-dt {
	float: left;
}
.usy-dt img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.ed-opts {
	float: right;
	position: relative;
	top: 7px;
}
.ed-opts > a {
	color: #b2b2b2;
	font-size: 30px;
	float: right;
	position: relative;
	left: 13px;
}
.ed-options {
	position: absolute;
	top: 100%;
	right: 0;
	width: 130px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
	box-shadow: 0 0 10px rgba(0,0,0,0.28);
	padding: 20px;
	opacity: 0;
	visibility: hidden;
	z-index: 0;
}
.ed-options.active {
	opacity: 1;
	visibility: visible;
	z-index: 999;
}
.ed-options li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.ed-options li:last-child {
	margin-bottom: 0;
}
.ed-options li a {
	color: #686868;
	font-size: 14px;
	font-weight: 600;
}
.ed-opts > a:hover {
	color: #53D690;
}
.usy-name {
	float: left;
	margin-left: 10px;
}
.usy-name h3 {
	color: #000000;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 6px;
	margin-top: 2px;
}
.usy-name span {
	color: #b2b2b2;
	font-size: 14px;
}
.usy-name img {
	margin-top: 2px;
	margin-right: 6px;
}

.epi-sec {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	padding: 0 20px;
}
.descp {
	float: left;
	margin-top: 3px;
}
.descp li {
	display: inline-block;
	margin-right: 15px;
}
.descp li span {
	color: #b2b2b2;
	font-size: 14px;
	float: left;
}
.descp li img {
	margin-right: 5px;
}
.bk-links {
	float: right;
}
.bk-links li {
	display: inline-block;
	margin-right: 7px;
}
.bk-links li:last-child {
	margin-right: 0;
}
.bk-links li i {
	color: #fff;
	font-size: 24px;
	width: 30px;
	height: 30px;
	background-color: #53d690;
	text-align: center;
	line-height: 30px;
}
.bk-links li i.la-envelope {
	background-color: #53D690;
}
.bid_now {
	color: #fff;
	background-color: #51a5fb;
	text-transform: capitalize;
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	position: relative;
	top: -3px;
}
.bid_now:hover {
	color: #fff;	
}

/* ============== event_descp ============ */

.event_descp {
	float: left;
	width: 100%;
	padding: 0 20px 20px 20px;
	border-bottom: 1px solid #e5e5e5;
}
.event_descp h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}
.event-dt {
	float: left;
	width: 100%;
	margin-bottom: 22px;
}
.event-dt li {
	display: inline-block;
	margin-right: 15px;
}
.event-dt li a {
	color: #fff;
	background-color: #53d690;
	text-transform: capitalize;
	padding: 5px 13px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
}
.event-dt li span {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
}
.event_descp > p {
	color: #686868;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
}
.event_descp > p a {
	color: #53D690;
	font-weight: 600;
}

/* ========== event-status-bar ========== */

.event-status-bar {
	float: left;
	width: 100%;
	padding: 15px 20px;
}
.like-com {
	float: left;
}
.like-com li {
	display: inline-block;
	margin-right: 15px;
}
.like-com li a {
	color: #b2b2b2;
	font-size: 14px;
	float: left;
	margin-top: 6px;
	margin-right: 5px;
}
.like-com li a:hover {
	color: #53D690;
}
.like-com li a.active {
	color: #53D690;
}
.like-com li a i {
	margin-right: 2px;
	font-size: 17px;
	position: relative;
	top: 2px;
}
.like-com li span {
	color: #ffffff;
	font-size: 13px;
	width: 30px;
	height: 30px;
	background-color: #53D690;
	line-height: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	float: left;
	text-align: center;
	font-weight: 600;
	margin-left: -25px;
}
.like-com li .com {
	position: relative;
	top: -5px;
}
.like-com li .com img {
	margin-right: 10px;
}

.event-status-bar > a {
	float: right;
	color: #b2b2b2;
	font-size: 14px;
	margin-top: 5px;
}
.event-status-bar > a i {
	font-size: 20px;
	margin-right: 7px;
	position: relative;
	top: 3px;
}


/* ============= Suggestions ============ */

.sd-title {
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.sd-title h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.sd-title i {
	float: right;
	color: #b7b7b7;
	font-size: 30px;
	position: absolute;
	right: 5px;
	top: 15px;
}
.suggestions-list {
	float: left;
	width: 100%;
	padding: 13px 0 30px 0;
}
.suggestion-item {
	float: left;
	width: 100%;
	padding: 15px 20px;
}
.suggestion-item img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.sgt-text {
	float: left;
	padding-left: 10px;
}
.sgt-text h4 {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 4px;
}
.sgt-text span {
	color: #686868;
	font-size: 14px;
}
.suggestion-item > span {
	float: right;
	margin-top: 4px;
	position: relative;
}
.suggestion-item > span i {
	color: #b2b2b2;
	width: 30px;
	height: 30px;
	border: 1px solid #e5e5e5;
	text-align: center;	
	line-height: 30px;
	font-weight: 700;
	cursor: pointer;
}
.suggestion-item > span i:hover {
	background-color: #53D690;
	color: #fff;
}
.view-more {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.view-more > a {
	color: #53D690;
	font-size: 14px;
	font-weight: 700;
}
.view-more > a:hover {
	color: #53D690
}
/* ================ post-event-popup =============== */


.post-popup {
	width: 570px;
	margin: 0 auto;
	margin-top: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.65);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.65);
	-ms-transform: translateX(-50%) translateY(-50%) scale(0.65);
	-o-transform: translateX(-50%) translateY(-50%) scale(0.65);
	transform: translateX(-50%) translateY(-50%) scale(0.65);
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}
.post-popup.active {
	opacity: 1;
	visibility: visible;
	z-index: 999;
	
}
.post-event > a {
	position: absolute;
	top: -20px;
	right: -20px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}
.post-event > a:hover {
	color: #fff;
}
.post-event {
	float: left;
	width: 100%;
	position: relative;
}
.post-event h3 {
	float: left;
	width: 100%;
	background-color: #53D690;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	padding: 20px 0;
}
.post-event-fields {
	float: left;
	width: 100%;
	padding: 30px 20px;
	background-color: #fff;
}
.post-event-fields form {
	float: left;
	width: 100%;
}
.post-event-fields form input {
	padding: 0 15px;
	height: 40px;
}
.post-event-fields form textarea {
	padding: 15px;
	height: 130px;
}
.post-event-fields form input,
.post-event-fields form textarea,
.post-event-fields form select {
	width: 100%;
	color: #b2b2b2;
	font-size: 14px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	font-weight: 500;
}
.post-event-fields form select {
	height: 40px;
	padding: 0 10px;
}
.post-event-fields form ul {
	float: left;
	margin-top: 10px;
	width: 100%;
}
.post-event-fields form ul li {
	display: inline-block;
	margin-right: 15px;
}
.post-event-fields form ul li button.active {
	background-color: #53D690;
	color: #fff;
}
.post-event-fields form ul li button,
.post-event-fields form ul li a {
	color: #000000;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	padding: 10px 25px;
	display: inline-block;
	background-color: #fff;
	font-weight: 600;
	cursor: pointer;
}
.post-event-fields form ul li button:hover,
.post-event-fields form ul li a:hover {
	background-color: #53D690;
	color: #fff;
} 
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b2b2b2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b2b2b2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b2b2b2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b2b2b2;
}

.price-sec {
	float: left;
	width: 100%;
}
.price-br {
	float: left;
	width: 225px !important;
	position: relative;
}
.price-br > i {
	position: absolute;
	top: 0;
	right: 0;
	color: #b2b2b2;
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #e5e5e5;
	text-align: center;
}
.price-sec span {
	color: #b2b2b2;
	font-size: 14px;
	float: left;
	padding: 12px 17px 0 17px;
}
select {
	-webkit-appearance: none;
    -moz-appearance: none;
}

.inp-field {
	float: left;
	width: 100%;
	position: relative;
}
.inp-field:before {
	content: '\f107';
	position: absolute;
	top: 13px;
	right: 15px;
	color: #717171;
	font-family: fontawesome;
}
.post-popup.event_post .price-br {
	width: 100% !important;
}
/* ============== chatbox-list ============== */

.chatbox-list {
	position: fixed;
	bottom: 0;
	right: 0;
}
.chatbox {
	display: inline-block;
	margin-right: 13px;
	position: relative;
}
.chat-mg {
	display: inline-block;
	position: relative;
}
.chat-mg img {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.chat-mg span {
	position: absolute;
	top: -5px;
	right: 10px;
	width: 20px;
	height: 20px;
	background-color: #53D690;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.chat-mg.bx img {
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.30);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.30);
	-ms-box-shadow: 0 0 15px rgba(0,0,0,0.30);
	-o-box-shadow: 0 0 15px rgba(0,0,0,0.30);
	box-shadow: 0 0 15px rgba(0,0,0,0.30);
}
.conversation-box {
	position: absolute;
	bottom: 132%;
	right: 100%;
	width: 350px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.17);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.17);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.17);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.17);
	box-shadow: 0 0 10px rgba(0,0,0,0.17);
	opacity: 0;
	visibility: hidden;
	z-index: 0;
}
.conversation-box.active {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.conversation-box:before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 26px;
    border-top: 15px solid #fff;
    border-right: 15px solid transparent;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.con-title {
	float: left;
	width: 100%;
	background-color: #53D690;
	padding: 15px 25px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.con-title h3 {
	float: left;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}
.con-title >a {
	float: right;
	color: #fff;
	font-size:20px;
}
.chat-list {
	float: left;
	width: 100%;
	min-height: 390px;
}
.conv-list {
	float: left;
	width: 100%;
	display: table;
	padding: 20px 25px;
	position: relative;
}
.conv-list:hover,
.conv-list.active {
	background-color: #efefef;
}
.msg-numbers {
	position: absolute;
	bottom: 18px;
	right: 25px;
	width: 25px;
	height: 25px;
	background-color: #e77667;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 13px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.usrr-pic {
	display: table-cell;
	position: relative;
}
.active-status {
	width: 9px;
	height: 9px;
	border:2px solid #ecf5fb;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	position: absolute;
	top: -3px;
	right: 0;
}
.activee {
	background-color: #53D690;
}
.usy-info {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	padding-left: 15px;
}
.usy-info h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}
.usy-info span {
	color: #686868;
	font-size: 16px;
	float: left;
}
.usy-info span img {
	padding-left: 5px;
	float: right;
}
.ct-time {
	position: absolute;
	top: 20px;
	right: 25px;
}
.ct-time span {
	color: #b2b2b2;
	font-size: 14px;
}

.st-icons {
	float: right;
	margin-top: 7px;
}
.st-icons a {
	color: #fff;
	font-size: 20px;
	margin-right: 5px;
}
.chat-hist {
	float: left;
	width: 100%;
	background-color: #fff;
	height: 280px;
}
.chat-msg {
	float: left;
	width: 100%;
	padding-right: 25px;
	margin-bottom: 15px;
}
.chat-msg p {
	color: #ffffff;
	font-size: 14px;
	background-color: #53D690;
	line-height: 18px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	padding: 10px 15px;
	width: 80%;
	float: right;
	margin-bottom: 10px;
}
.mg-3 {
	margin-bottom: 3px;
}
.chat-msg span {
	float: right;
	color: #b1b1b1;
	width: 100%;
	font-size: 9px;
	text-align: right;
}
.status-info {
	width: 8px;
	height: 8px;
	background-color: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	display: inline-block;
	margin-left: 7px;
}
.chat-user-info h3 {
	margin-top: 7px;
	margin-left: 10px;
}
.date-nd {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}
.date-nd:before,
.date-nd:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 15px;
	width: 92px;
	height: 1px;
	background-color: #e5e5e5;
}
.date-nd:after {
	left: auto;
	right: 15px;
}
.date-nd span {
	color: #b1b1b1;
	font-size: 12px;
	text-align: center;
}
.chat-msg.st2 p {
	background-color: #efefef;
	color: #686868;
	float: left;
	width: 55%;
}
.chat-msg.st2 {
	padding-left: 25px;
}
.chat-msg.st2 span {
	float: left;
	text-align: left;
}
.form-input {
	width:150px;
	padding:20px;
	background:#fff;
  }
  .form-input input {
	display:none;
  }
  .form-input label {
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#333;
	color:#fff;
	font-size:15px;
	font-family:"Open Sans",sans-serif;
	text-transform:Uppercase;
	font-weight:600;
	border-radius:10px;
	cursor:pointer;
  }
  
  .form-input img {
	width:100%;
	display:none;
	margin-top:10px;
  }
 
  .gold{
	  font-size: 2rem;
	  font-weight: 600;
	  
  }
  .hr_gold{
	  margin-left: 1.5rem;
	  width: 13rem;
  }

  
/* ================ forum-page =============== */

.forum-page {
	padding: 50px 0;
}
.forum-questions-sec {
	float: left;
	width: 100%;
}
.forum-questions {
	float: left;
	width: 100%;
	background-color: #fff;
}
.usr-question {
	float: left;
	width: 100%;
	position: relative;
	padding: 25px;
	border-bottom: 1px solid #e5e5e5;
}
.usr_img {
	float: left;
	width: 60px;
}
.usr_img img {
	width: 100%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.usr_quest {
	float: left;
	width: 90%;
	padding-left: 15px;
}
.usr_quest > h3 {
	color: #000000;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 20px;
}
.forum-post-view .usr_quest > h3 {
	margin-bottom: 10px;
}
.react-links {
	float: left;
	width: 100%;
}
.react-links li {
	display: inline-block;
	margin-right: 30px;
}
.react-links li a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600;
}
.react-links li a:hover {
	color: #e44d3a;
}
.react-links li a i {
	padding-right: 10px;
}
.react-links li:last-child {
	margin-right: 0;
}
.usr-mg-info {
	float: left;
	padding-left: 13px;
}
.usr-mg-info h3 {
	color: #000000;
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 50%;
}

  /* ============ forum-post-view ============ */

.forum-post-view {
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 25px 25px 0 25px;
	border-bottom: 1px solid #e5e5e5;
}
.forum-post-view .usr-question {
	border-bottom: 0;
	padding: 0;
}
.forum-post-view .usr_quest span {
	color: #b2b2b2;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 20px;
}
.forum-post-view .usr_quest span i {
	padding-right: 7px;
}
.forum-post-view .quest-tags {
	margin-bottom: 30px;
}
.forum-post-view .usr_quest > p {
	float: left;
	width: 100%;
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 40px;
}
.forum-post-view .comment-section {
	padding: 0;
}
.forum-post-view .comment-section > h3 {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}
.forum-post-view .comment-sec ul li {
	border-bottom: 1px solid #e5e5e5;
	padding: 23px 0;
}
.forum-post-view .comment span {
	margin-bottom: 10px;
}
.forum-post-view .comment-list {
	padding-bottom: 0;
	margin-bottom: -4px;
}
.forum-post-view .comment p {
	margin: 0;
	margin-top: 5px;
}
.forum-post-view .comment h3 {
	margin-bottom: 9px;
}
.forum-post-view .comment-sec ul li:last-child {
	border-bottom: 0;
}

/* =============== comment-sec ================ */


.comment-sec {
	float: left;
	width: 100%;
}
.comment-sec ul {
	float: left;
	width: 100%;
}
.comment-sec ul li {
	float: left;
	width: 100%;
}
.comment-sec ul ul {
	padding-left: 50px;
}
.comment-list {
	display: table;
	padding-bottom: 30px;
}
.bg-img {
	display: table-cell;
}
.bg-img img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.comment {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	padding-left: 10px;
}
.comment h3 {
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.comment img {
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.comment span {
	color: #b2b2b2;
	font-size: 14px;
	display: block;
	margin-bottom: 14px;
}
.comment p {
	color: #686868;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 20px;
}
.comment > a {
	display: inline-block;
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 600;
}
.comment > a.active,
.comment > a:hover {
	color: #e44d3a;
}
.comment > a i {
	font-weight: 600;
	margin-right: 6px;
}
/* =============== post-comment-box ============= */

.post-comment-box {
	float: left;
	width: 100%;
	padding: 20px;
	background-color: #fff;
}
.post-comment-box h3 {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}
.user-poster {
	float: left;
	width: 100%;
}
.usr-post-img {
	float: left;
	width: 50px;
	margin-right: 15px;
}
.usr-post-img img {
	width: 100%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.post_comment_sec {
	float: left;
	width: 90%;
}
.post_comment_sec form {
	float: left;
	width: 100%;
}
.post_comment_sec form textarea {
	float: left;
	width: 100%;
	height: 130px;
	border: 1px solid #dce2eb;
	padding: 15px;
	resize: none;
}
.post_comment_sec form button {
	color: #ffffff;
	font-size: 14px;
	background-color: #e44d3a;
	padding: 10px 25px;
	border: 0;
	font-weight: 600;
	margin-top: 20px;
	cursor: pointer;
}
/* ========== widget-feat ========= */

.widget-feat {
	padding: 25px 20px;
}
.widget-feat ul {
	float: left;
	width: 100%;
}
.widget-feat ul li {
	float: left;
	width: 25%;
	text-align: center;
}
.widget-feat ul li i {
	display: block;
	font-size: 18px;
	margin-bottom: 9px;
}
.widget-feat ul li span {
	display: block;
	color: #686868;
	font-size: 16px;
	font-weight: 500;
}
.widget-feat ul li i.fa-heart {
	color: #53d690;
}
.widget-feat ul li i.fa-comment {
	color: #e44d3a;
}
.widget-feat ul li i.fa-share-alt {
	color: #51a5fb;
}
.widget-feat ul li i.fa-eye {
	color: #00b540;
}
/* ============ User Widget =========== */

.title-wd {
	float: left;
	width: 100%;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #e5e5e5;
	padding: 25px 20px;
}
.widget-user ul {
	float: left;
	width: 100%;
	padding: 15px 0;
}
.widget-user ul li {
	float: left;
	width: 100%;
	padding: 15px 20px;
}
.usr-msg-details {
	float: left;
	position: relative;
	width: 100%;
}
.widget-user ul li .usr-msg-details {
	float: left;
	width: auto;
}
.widget-user ul li .usr-ms-img {
	width: 35px;
} 
.widget-user ul li .usr-mg-info h3 {
	font-size: 14px;
}
.widget-user ul li .usr-mg-info p {
	font-size: 12px;
}
.widget-user ul li > span {
	color: #686868;
	font-size: 16px;
	float: right;
	margin-top: 10px;
}
.widget-user ul li > span img {
	padding-right: 5px;
}


/* ============== widget-adver ============ */

.widget-adver {
	width: 100%;
	padding-bottom: 30px;
}